<%- include('partials/head') %>
<%- include('partials/navbar') %>
<%- include('partials/header') %>
<%- include('partials/companies') %>
<!-- <%- include('partials/feature') %>-->
<!--<%- include('partials/icons') %> -->
<!-- <%- include('partials/gallery') %> -->
<!-- <%- include('partials/services') %> -->
<!-- <%- include('partials/contact') %> -->
<%- include('partials/footer') %>
  </body>
</html>
