<%- include('partials/head') %>
 <%- include('partials/navbar') %> 
<!-- <%-include('partials/header') %> -->

<%- include('partials/services') %>
<%- include('partials/companies') %>
<%- include('partials/footer') %>
</body>
</html>
